/.ddev/**
!/.ddev/config.yaml

/.vscode/**
!/.vscode/extensions.json
!/.vscode/settings.json

/tools/**
!/tools/composer.json
!/tools/composer.lock
!/tools/*/composer.json
!/tools/*/composer.lock

/var/cache/*
!/var/cache/.gitignore
/var/log/*
!/var/log/.gitignore
/var/report/*
!/var/report/.gitignore

/vendor/
