parameters:
  level: max
  paths:
    - .
  excludePaths:
    - .ddev/*
    - .vscode/*
    - tools/*
    - var/*
    - vendor/*
  parallel:
    maximumNumberOfProcesses: 2
  tmpDir: var/cache/phpstan
